body, html {
	
}

body {
	background: #52616b;
	height: 100%;
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
	color: #f2f1e7;
	padding-left:20px;


}
a {
	color: #f2f1e7;
	font-size: 2.5rem;
}

h1 {
	font-size: 3rem;
}

h4 {
	font-size: 1.5rem;
}

#graph {
	margin: auto;
	width: 1000px;
}

.header {
	padding-left: 50px;
	padding-top: 50px;
	margin-bottom: 100px;
}