<%- include ("../views/partials/header.ejs") %>

<div class="header">
<h1>Retail Banners</h1>
<h4>Select banner to see list of stores.</h4>
</div>

<div class="container">

<ul>
		<% renderList.forEach(element =>{ %> 

			<li><a href="banner/<%=  element %>"><%=  element %></a></li>
			<hr/>
		<% }); %>
</ul>

</div>
<%- include ("../views/partials/footer.ejs") %>
