<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Store Stats</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="../../style.css"/>



  <style>
  .bar:hover {
    fill: brown;
  }
</style>

</head>

<body>
<div class="header">
<h1 ><%=  address %></h1>
</div>
<div id="graph"></div>

<div id="pie_graph"></div>

<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
  <script>
    
    let dataset = <%- JSON.stringify(renderList) %>;
    console.log(dataset);
    const w = 1000;
    const h = 500;


    const padding = 30;

    const xScale = d3.scaleLinear()
                    .domain([0, 12])
                    .range([padding, w-padding]);

    const yScale = d3.scaleLinear()
                    .domain([0, d3.max(dataset)])
                    .range([h, 0]);

    const svg = d3.select("#graph")
                  .append("svg")
                  .attr("width", w)
                  .attr("height", (h + 40));

    svg.selectAll("rect")
       .data(dataset)
       .enter()
       .append("rect")
       .attr("width", 30)
       .attr("x", (d, i) => xScale(i))
       .attr("y", (d, i) => yScale(d))
       .attr("height", (d, i) => h - yScale(d))
       .attr("fill", "#1e2022")



    svg.selectAll(".text")        
  		.data(dataset)
  		.enter()
  		.append("text")
  		.attr("class","label")
  		.attr("x", (d, i) => xScale(i))
  		.attr("y", (d, i) => 500)
  		.attr("dy", ".75em")
  		.text(function(d) { return d; })
  		.style("fill", "#f2f1e7");       

  		d3.selectAll("#gender_divide text").style("fill", "white");

  </script>

</body>
</html>








<body>
  
</body>