<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Stores</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../style.css"/>

</head>

<body>

<div class="header">
<h1 >Stores</h1>
<h4>Select store to see list of donation breakdown.</h4>
</div>



<ul>
		<% renderList.forEach(element =>{ %> 

			<li><a href="store/<%=  element.street %>"><%=  element.street %></a></li>
			<hr />
		<% }); %>
</ul>



</body>

</html>